.contact-us-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    justify-content: center
}

.contact-us-heading {
    position: relative;
    color: #000000;
    margin-left: 2%;
    font: 600 50px sans-serif;
}

.contact-us-description {
    color: #000;
    text-align: center;
    margin-top: 64px;
    width: 670px;
    font: 800 24px Roboto, sans-serif;
}

.contact-us-content {
    margin-top: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us-columns {
    display: flex;
    gap: 20px;
}

.contact-us-image-column {
    line-height: normal;
    width: 34%;
    margin-left: 0;
}

.contact-us-image {
    /* aspect-ratio: 0.7; */
    /* object-fit: cover; */
    object-position: center;
    width: 100%;
    flex-grow: 1;
}

.contact-us-form-column {
    line-height: normal;
    width: 70%;
    margin-left: 50px;
}

.contact-us-form-heading {
    position: relative;
    color: #000000;
    /* margin-left: 2%; */
    font: 600 50px sans-serif;
}

.contact-us-form-row {
    display: flex;
    gap: 20px;
    text-align: center;
}

.contact-us-form-input {
    border-radius: 20px;
    border: 2px solid #000;
    background-color: #fff;
    align-items: start;
    justify-content: center;
    flex-grow: 1;
    width: fit-content;
    padding: 20px 30px;
}

.contact-us-form-submit {
    font-family: sans-serif;
    border-radius: 50px;
    background-color: #e61f57;
    align-self: start;
    margin-top: 30px;
    color: #fff;
    justify-content: center;
    padding: 20px 20px;
    text-decoration: none;
}