body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header Styles */
#header {
    background-color: #fff;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -34px;

}

#header-content, #header-actions {
    display: flex;
    align-items: center;
}

#logo {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

#header-title {
    font-size: 24px;
    font-weight: bold;
}

#location-icon {
    width: 30px;
    height: auto;
    margin-right: 10px;
}

#header-location {
    font-size: 16px;
    margin-right: 20px;
}

#book-now {
    background-color: #e61f57;
    color: #fff;
    justify-content: center;
    padding: 15px 20px;
    border-radius: 30px;
    cursor: pointer;
}

 /* Body Styles */
 .body {
    border-radius: 40px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    border-color: rgba(0, 0, 0, 0.08);
    border-style: solid;
    border-width: 1px;
    background-color: #fff;
    align-self: center;
    object-fit: contain;
    width: 77%;
    gap: 20px;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    justify-content: space-between;
    padding: 15px 71px;
    margin-left: 7%;
    position: relative;
    z-index: 1;
}

.container-2 {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.container-3, .container-4, .container-5, .container-6, .container-7, .container-8, .container-10, .container-11 { 
    font-family: sans-serif;
    margin: auto 0;
}
.container-3 {
    color: #1cbbd0;
}

.container-8, .container-10 {
    flex-grow: 1;
}

.container-9 {
    display: flex;
    gap: 25px;    
    justify-content: space-between;
}

/* dkdnj */
.container-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
  }
  .container-section2 {
    flex-direction: column;
    overflow: hidden;
    position: relative;
    display: flex;
    min-height: 644px;
    width: 100%;
    align-items: start;
    font-size: 20px;
    color: #767676;
    font-weight: 800;
    justify-content: center;
    padding: 80px 60px;
  }
  .imgs {
    position: absolute;
    inset: 0;
    height: 90%;
    width: 92.7%;
    object-fit: cover;
  }
  .container-section3 {
    position: relative;
    display: flex;
    width: 496px;
    max-width: 100%;
    flex-direction: column;
    margin: 62px 0 23px 72px;
  }

  .container-section4 {
    border-radius: 25px;
    background-color: #fff;
    align-self: start;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 9px 26px;
  }

  .img-2 {
    object-fit: auto;
    object-position: center;
    width: 40px;
    align-self: start;
  }
  .container-section5 {
    font-family: sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }
  .container-section6 {
    color: #1cbbd0;
    margin-top: 33px;
    font: 50px sans-serif;
  }
  .container-section7 {
    font-family: sans-serif;
    font-weight: 400;
    margin-top: 38px;
  }
  .container-section8 {
    font-family: sans-serif;
    border-radius: 50px;
    background-color: #e61f57;
    align-self: start;
    margin-top: 30px;
    color: #fff;
    justify-content: center;
    padding: 20px 20px;
  }
 